[submodule "sample-nodejs"]
	path = sample-nodejs
	url = https://github.com/Kitsokakambi/sample-nodejs.git
[submodule "sample-php"]
	path = sample-php
	url = https://github.com/Kitsokakambi/sample-php.git
[submodule "dotnet-hello-world"]
	path = dotnet-hello-world
	url = https://github.com/Kitsokakambi/dotnet-hello-world.git
